*.pdf
*.PDF
*.docx
Особл*
.vs
*.tlog
x64
RGR
/Препроцесор модульність
/Класи С++ Спадкування
/Класи С++ Поліморфізм
/Класи С++ Множинне спадкування
/UML Відношення класів
/Lab5/Lab5/objects_table.txt
/Calculator
*.zip
